/* 
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 
*/

/* 
.firstDiv{
  margin-right:30px ;
} 
*/

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

